// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Teko',sans-serif;} // font header
.fi {font-family: 'kp-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #333;
@c2: #f06632;
@c3: #8b2004;
@c4: #f1b56e;
@c5: #230101;
@c6: #f5cb9a;
@c7: #230101;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1160px;
@content-padding: 20px;

@content-width-md: 960px;
@content-width-sm: 720px;
@content-width-xs: 100%;
// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";