
.icon-right-dir:before { content: '\e800'; } /* '' */
.icon-up-dir:before { content: '\e801'; } /* '' */
.icon-left-dir:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-gauge:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-inbox:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e808'; } /* '' */
.icon-phone-circled:before { content: '\e809'; } /* '' */
.icon-02:before { content: '\e80a'; } /* '' */
.icon-01:before { content: '\e80b'; } /* '' */